/Maven__com_google_code_gson_gson_2_8_0.xml
/Maven__com_google_guava_guava_21_0.xml
/Maven__commons_lang_commons_lang_2_6.xml
/Maven__junit_junit_5_0_SNAPSHOT.xml
/Maven__net_bytebuddy_byte_buddy_1_9_3.xml
/Maven__net_bytebuddy_byte_buddy_agent_1_9_3.xml
/Maven__net_md_5_bungeecord_chat_1_13_SNAPSHOT.xml
/Maven__org_bukkit_bukkit_1_14_4_R0_1_SNAPSHOT.xml
/Maven__org_hamcrest_hamcrest_core_1_3.xml
/Maven__org_javassist_javassist_3_24_0_GA.xml
/Maven__org_objenesis_objenesis_3_0_1.xml
/Maven__org_powermock_powermock_core_2_0_2.xml
/Maven__org_powermock_powermock_module_junit4_2_0_2.xml
/Maven__org_powermock_powermock_module_junit4_common_2_0_2.xml
/Maven__org_powermock_powermock_reflect_2_0_2.xml
/Maven__org_projectlombok_lombok_1_16_18.xml
/Maven__org_spigotmc_spigot_api_1_14_4_R0_1_SNAPSHOT.xml
/Maven__org_yaml_snakeyaml_1_23.xml
